
    <!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed navbar-dark brand-blue">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >

				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Your Company</label>						
					</li>
					<li class="nav-item"><a href="{% url 'home' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-anchor"></i></span><span class="pcoded-mtext">Overview</span></a></li>
					<li class="nav-item"><a href="{% url 'surveys' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Surveys</span></a></li>
					<!--<li class="nav-item"><a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Results</span></a></li>-->
					<li class="nav-item"><a href="{% url 'users' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Users</span></a></li>
				</ul>
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
