{% extends "layouts/base-auth.html" %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <h1 class="text-white my-4">
                    <a href="/">
                        <img src="/static/assets/images/auth/auth-logo.png" style="height: 3em" alt="" class="img-fluid">
                    </a>
                </h1>
                <h4 class="text-white font-weight-normal">
                    The simple employee engagement solution
                </h4>
            </div>
        </div>
        <div class="auth-side-form">
            <div class=" auth-content">
                <img src="/static/assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                <h3 class="mb-4 f-w-400">
                    Sign In
                </h3>
                <span class="mb-0 text-muted">
                    {% if msg %}
                        {{ msg | safe }}
                    {% else %}
                        Add your redentials
                    {% endif %}
                </span>
                <!-- dummy spacer -->
                <p> <br /> </p>

                <form role="form" method="post" action="">

                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="feather icon-mail"></i></span>
                        </div>
                        {{ form.username }}
                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="feather icon-lock"></i></span>
                        </div>
                        {{ form.password }}
                    </div>

                    <div class="form-group text-left mt-2">
                        <div class="checkbox checkbox-primary d-inline">
                            <input type="checkbox" name="checkbox-p-1" id="checkbox-p-1" checked="">
                            <label for="checkbox-p-1" class="cr">Save credentials</label>
                        </div>
                    </div>
                    <button type="submit" name="login" class="btn btn-block btn-primary mb-0">Login</button>

                </form>

                <div class="text-center">
                    <div class="saprator my-4"><span>OR</span></div>
                    <p class="mb-2 mt-4 text-muted">
                        <a href="{% url 'register' %}" class="f-w-400">Create Account</a>
                    </p>
                    <br />
                    <p class="mb-0 text-muted">
                        Coded with <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 0.8rem;"><path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z" fill="#e25555"></path></svg> by <a href="#" class="">Eniac</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
