{% extends "layouts/base.html" %}

{% block title %} Overview {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- Select2 css -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- product profit start -->
				<div class="col-xl-3 col-md-6">
					<div class="card bg-c-blue order-card" onclick="location.href={% url 'surveys'%};" style="cursor: pointer;">
            <div class="card-body">
              <h6 class="text-white">Total Surveys</h6>
              <h2 class="text-right text-white"><i class="feather icon-layers float-left"></i><span>{{ questions.total.count }}</span></h2>
              <p class="m-b-0">Active Surveys<span class="float-right">{{ questions.active.count }}</span></p>
            </div>
          </div>
				</div>
				<div class="col-md-6 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-body">
                    <h6 class="text-white">Completed Responses</h6>
                    <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{ user_responses.total.count }}</span></h2>
                    <p class="m-b-0">This Month<span class="float-right">{{ user_responses.month.count }}</span></p>
                </div>
            </div>
        </div>
				<div class="col-md-6 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-body">
                    <h6 class="text-white">Unique Users</h6>
                    <h2 class="text-right text-white"><i class="feather icon-check-square float-left"></i><span>{{ users.total }}</span></h2>
                    <p class="m-b-0">Active Users<span class="float-right">{{ users.active_users }}</span></p>
                </div>
            </div>
        </div>

				<div class="col-md-6 col-xl-3">
						<div class="card bg-c-red order-card">
								<div class="card-body">
										<h6 class="text-white">Response Rate</h6>
										<h2 class="text-right text-white"><i class="feather icon-check-square float-left"></i><span>{{ percent_response.month }}%</span></h2>
										<p class="m-b-0 text-white"><span class="label label-danger m-r-10">{{ percent_response.percent_difference }}%</span>From Previous Month</p>
								</div>
						</div>
				</div>
				<!-- product profit end -->

				<div class="col-md-6 col-xl-4">
					<div class="card map-visitor-card">
						<div class="card-header">
							<h5>Survey Response Count</h5>
						</div>
						<div class="card-body">
							<div id="bar-chart-2"></div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-8">
						<div class="card bg-c-blue map-visitor-card">
								<div class="card-header">
										<h5># of Responses per Day</h5>
								</div>
								<div class="card-body pl-0 pb-0">
										<div id="unique-visitor-chart"></div>
								</div>
								<div class="card-footer">
										<div class="row justify-content-center text-center">
												<div class="col-auto b-r-default col-6 col-sm-4">
														<h6>Users</h6>
														<p class="text-muted">{{ users.active_users }} Active Users ({{ users.active_percent }}%)</p>
														<div class="progress">
																<div class="progress-bar bg-c-blue" style="width:{{ users.active_percent }}%"></div>
														</div>
												</div>
												<div class="col-auto col-6 col-sm-4">
														<h6>Responses</h6>
														<p class="text-muted">{{ user_responses.month.count }} this month ({{ user_responses.percent_this_month }}%)</p>
														<div class="progress">
																<div class="progress-bar bg-c-green" style="width:{{ user_responses.percent_this_month }}%"></div>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
				<div class="col-sm-12">
						<div class="card">
								<div class="card-header">
										<div class="row">
												<div class="col">
														<h5>Average Sentiment for All Surveys</h5>
												</div>
												<div class="col-auto text-right">
														<!--<select style="width: 100%" id="survey-select" name="survey-select"></select>-->
														<span>This Month</span>
												</div>
										</div>
								</div>
								<div class="card-body">
										<div class="row mb-2">
												<div class="col-auto">
														<h4 class="m-0">{{ user_responses.today.count }}<i class="feather icon-arrow-{{ user_responses.response_increment }} text-c-{{ user_responses.response_color }}"></i></h4>
														<span>Responses Today</span>
												</div>
												<div class="col-auto">
														<h4 class="m-0">{{ user_responses.weeks_responses_avg }}<i class="feather icon-arrow-{{ user_responses.avg_increment }} text-c-{{ user_responses.avg_color }}"></i></h4>
														<span>7-Day Average Sentiment</span>
												</div>
												<div class="col">
														<h4 class="m-0">{{ user_responses.responseRateToday }}%<i class="feather icon-arrow-{{ user_responses.responseRate_increment }} text-c-{{ user_responses.responseRate_color }}"></i></h4>
														<span>Response Rate Today</span>
												</div>
										</div>
										<div id="site-visitor-chart" style="height:250px;width:100%;"></div>
								</div>
						</div>
				</div>

			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
	<script>
	var MyGlobal = {
		survey_details: {% url 'survey_details' %},
		all_questions: {% url 'all_questions' %},
	};
	</script>
	<!-- cookie js (necessary for CSRF token in ajax post requests) -->
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<!-- utilities js (tools I created) -->
	<script src="/static/assets/js/survey-data/utilities.js"></script>
	<script src="/static/assets/js/pages/dashboard-sale.js"></script>
	<script src="/static/assets/js/plugins/apexcharts.min.js"></script>
	<!-- Select2 js -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

	<script type="text/javascript">
		/*
		$('#group-select').select2({
			ajax: {
				url: "{% url 'all_groups' %}",
				dataType: 'json'
			}
		});
		*/
		ajaxPostRequest('{% url "all_user_responses" %}', {}, function(json){
			plot_response_data(json)
		})
		/*
		ajaxPostRequest('{% url "all_user_responses" %}', {}, function(json){
			plot_user_data(json)
		})
		*/
	</script>

{% endblock javascripts %}
